<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="/static/img/logo.png" alt="logo">
        <div class="links">
            <a class="button" href="/about">How to Play | </a>
            <a class="button" href="/login_and_registration">Login or Create an Account</a>
        </div>
    </div>
</body>
</html>