<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/profile.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <div class="nav">
        <h2> Welcome, {{user.username}} </h2>
        <div class="right_nav">
            <a href="/challenge/new">New Challenge | </a>
            <a href="/challenges/all">Browse Challenges | </a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="post">
            <form action="/new_post" method="post">
                <label for="new_post">Completed a challenge? Post about it:</label><br>
                    {% with messages = get_flashed_messages(category_filter = ['posts'])%}
                        {% if messages %}
                            {% for message in messages %} 
                            <p class="text-danger"> {{message}} </p> 
                            {% endfor %}
                        {% endif %}
                    {%endwith%}
                <input type="hidden" name="user_id" value="{{user.id}}">
                <textarea name="content" cols="50" rows="5"></textarea><br>
                <input type="submit" class="btn btn-primary mt-3" value="publish">
            </form>
        </div>
        <div class="all-posts">
            <h3>All Posts</h3>
            {%for post in posts %}
                <p><span>{{post.user_id.username}} said - {{post.created_at.strftime("%b %d")}}: </span><br>
                <span class="m-3">{{post.content}} <br>
                    {% if post.user_id.id == user.id: %}
                    <a href="/delete/{{post.id}}">delete</a>
                    {% endif %}
                </p></span> 
                
            {% endfor %}
        </div>
    </div>
</div>