*{
    margin: 0px auto;
    padding: 0px auto;
}

.container{
    margin: 0px auto;
    width: auto;
    height: 1000px;
    display: flex;
    align-items: center;
    background-color: #4e1964;
    flex-direction: column;
}

.container img{
    margin-top: 100px;
    height: 50%;
}

.links{
    display: flex;
    margin-top: 75px;
}

.links a{
    text-decoration: none;
    margin: 2px;
    color: white;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}