*{
    margin: 0px auto;
}

.borders{
    border: 2px solid #4e1964;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

body{
    background-color: #a48cb4;
    height: 1100PX;
}
.container{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #ffc4d4;
    border: 5px solid #f3d283;
    box-shadow: 7px 7px 5px white;
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #90195f;

}
.container h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: xx-large;
}
.container p{
    margin: 10px;
    font-size: large;

}

.nav{
    display: flex;
    padding: 25px;
    margin-top: 50px;
    width: 75%;
    font-size: larger;
    background-color: #4e1964;
    border: 5px solid #f3d283;
    box-shadow: 7px 7px 5px white; 
    color: #ffc4d4;
}
.nav a{
    text-align: right;
    text-decoration: none;
    color: #ffc4d4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}