<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/about.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <div >
            <a class="button" href="/">Back | </a>
            <a class="button" href="/login_and_registration">Login or Create an Account</a>
        </div>
    </div>
    <div class="container">
        <img src="/static/img/about.png" alt="logo" height="400px">
        <p>In this take on truth or dare, it is a social media page aimed at building positive connections, encouraging
            personal growth,
            and spreading joy among its participants. Here, the focus is on empowering and uplifting one another rather
            than
            creating discomfort or embarrassment.
        </p>
        <p>
            When someone chooses "truth," instead of aiming to expose secrets or delve into sensitive topics, we
            encourage you to craft questions to inspire reflection and self-discovery. Players are encouraged to share
            their dreams, aspirations,
            and values, allowing others to gain insight into their personalities while fostering a supportive and
            understanding environment.
        </p>
        <p>
            On the other hand, when someone chooses "dare," the challenges should be designed to uplift and inspire.
            These prompts
            motivate players to step out of their comfort zones and engage in activities that encourage personal growth,
            compassion, and kindness. It could involve performing small acts of kindness, sharing compliments, or
            expressing
            gratitude towards someone in their life.
        </p>
        <p>
            In this version of truth or dare, the intention is to create an atmosphere of positivity, connection, and
            inspiration. It allows players to celebrate each other's strengths, encourages personal growth, and fosters
            a
            sense of unity and support. The goal is for participants to feel uplifted, motivated, and grateful
            for the experience of connecting on a deeper level with their friends or loved ones.
        </p>

    </div>
</body>

</html>