<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/all_challenges.css')}}">
    <title>Document</title>
</head>
<body>
        <div class="nav">
            <h2> Welcome, {{user.username}} </h2>
            <div>
                <a class="button" href="/challenge/new">New Challenge | </a>
                <a class="button" href="/profile">Back | </a>
                <a class="" href="/logout">Logout</a>
            </div>
        </div>
            <div class="container">
                <h3>All Truth or Dare Challenges:</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="borders">Type</th>
                            <th class="borders">Description</th>
                            <th class="borders">Posted By</th>
                            <th class="borders"> Challenge ID</th>
                            <th class="borders">Actions</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for challenge in challenges %}
                        <tr class="borders"> 
                            <td class="borders">
                                {% if challenge.type == 1: %}
                                Truth
                                {% else %}
                                Dare
                                {% endif %}
                            </td>
                            <td class="borders">{{challenge.description}}</td>
                            <td class="borders">{{challenge.user_id.username}}</td>
                            <td class="borders">{{challenge.id}}</td>
                            <td class="borders">
                                {% if challenge.user_id.id == user.id: %}
                                <a href="/challenges/edit/{{challenge.id}}" class="btn btn-danger">edit</a>
                                <a href="/challenges/delete/{{challenge.id}}" class="btn btn-danger">delete</a>
                            {% endif %}
                            <a href="/create_post">New Post</a>
                            </td>
                        </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
</body>
</html>